#body-container {
    padding: 30px;
    padding-bottom: 0px;
    background-color: aquamarine;
}

#all-exchanges{
    /* overflow-x: auto; */
    overflow: auto;
    flex-wrap: nowrap;
    display: flex;
}

.toggle {
    background-color: red;
    /* width: 1vh; */
    padding-left: 15px;
    width: fit-content;
}

.exchange {
    /* display: inline-block; */
    width: 320px;
    /* float:left; */
    flex: 0 0 auto;
    background-color: plum;
    height: 20px;
    margin: 15px;
}

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */