body {
    background-color: #3A3A4D;
    color: white;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.card {
    min-height: 300px;
    min-width: 400px;
    max-height: 300px;
    max-width: 400px;
    margin-right: 5px;
    color: black;
    transition-duration: 0.4s;
    border: none;
    border-radius: 20px;
    font-family: paragraph-font;
    display: flex;
    justify-content: center;
}

.card:hover {
    cursor: pointer;
    opacity: 0.75;
}

.join-img {
    width: 40px;
    height: 40px;
}

.join-button {
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 25px;
    color: white;
    transition: all .2s ease-in-out;
    padding: 0px;
}

.join-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.scrolling {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 5px 10px 5px;
}

.backgroundImg {
    opacity: 0.5;
    display: block;
    min-width:400px;
    min-height:300px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.home-list-section {
    padding: 20px 0px 20px 0px;
}

.first-element {
    padding-left: 40px;
}

.section-header {
    padding-left: 40px;
    font-family: subtitle-font;
}

@font-face {
  font-family: subtitle-font;
  src: url(fonts/ReadexPro-SemiBold.ttf);
}

@font-face {
  font-family: title-font;
  src: url(fonts/ReadexPro-Bold.ttf);
}

@font-face {
  font-family: paragraph-font;
  src: url(fonts/ReadexPro-Regular.ttf);
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.navbar {
  background-color: #3A3A4D;
  box-shadow: 5px 5px 5px black;
}

.icon {
  background-color: #DBDBDB;
  padding: 15px;
  border-radius: 50%;
  font-size: 2em;
  float: right;
  margin-right: 15px;
}

a {
  color: inherit

}

.icon:hover {
  cursor: pointer;
  opacity: 0.75;
}

.searchbar {
  border-radius: 25px;
  background: #DBDBDB;
  background-color: #DBDBDB;
}

.inputting {
  background: #DBDBDB;
  background-color: #DBDBDB;
  border: None;
  font-size: 1.5em;
}

.fa-search {
  padding: 15px;
  font-size: 2em;
}

/* squidgame.html */
.prompt.p {
    transition: all .2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.prompt.p:hover {
    visibility: visible;
    opacity: 1;
}

.new-card {
    min-height: 300px;
    min-width: 400px;
    max-height: 300px;
    max-width: 400px;
    margin-right: 5px;
    color: black;
    border: none;
    border-radius: 20px;
    font-family: paragraph-font;
    display: flex;
    justify-content: center;
}

/* message.html */ 

.sad {
  height: 50%;
  width: 50px;
  /* display: inline-block; */
  margin: 30px;

}

.sad img:hover {
  opacity: .5;
}

.Image1{
  display: inline-block;
  /* outline-style: solid; */
  width: 475px;
  height: 600px;
  margin-top: 5%;
}

.Icons {
  width: 30px;
  height: 30px; 
  margin-left: 34.5px;
}

.pictureIcon {
  margin-left: 370px;
  width: 30px;
  height: 30px; 
  margin-top: -120%;
}

.Image2 {
  display: inline-block;
  /* outline-style: solid; */
  width: 600px;
  height: 600px;
  /* margin-top: 10%;  */
  /* position: absolute;  */
}

.bloodbath {
  border-radius: 5px;
  padding: 10px; 
}

.bloodbath img:hover {
  opacity: .5;
}

.bathIcon {
  margin-left: 510px;
  width: 30px;
  height: 30px; 
  margin-top: -11%;
}

.prompt {
  background-color: grey;
  margin-top: 27%;
  margin-left: 40%;
  height: 50px;
  width: 250px;
  /* text-align: center;  */
  padding: 10px;
  border-radius: 5px; 
}

.prompt1 {
  background-color: grey;
  height: 50px;
  width: 340px;
  border-radius: 5px;
  margin-left: 225px;
  margin-top: -3%;
  padding: 10px; 
}

.promptIcon {
  margin-left: 50px;
  width: 30px;
  height: 30px; 
}

.messagebox {
  background-color: #89CADC;
  border-radius: 5px;
  margin-left: 1%; 
  width: 585px;
  height: 757px;
  /* height: auto !important; */
  /* height: 100%; */
  /* outline-style: solid; */

}

.username {
  color: grey; 
  margin-left: 10%;
}

#textbox1 {
  background-color: #3A3A4D; 
  /* border-radius: 15%; */
  margin-left: 10%;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  
}

.leftIcon {
  margin-left: -8%;
  float: left;
  margin-top: 40px;
}

#chat {
  width: 300px;
  height: 210px;
  margin-left: 10%;
  background-color: #3A3A4D;
  padding: 10px;
  border-radius: 10px;

  /* margin-top: -15%; */
  /* display: flex;  */
  /* outline-style: solid; */
}

.break {
  color: black; 
  margin-top: 8%;
  float: left; 
  /* display: flex;  */

}

.saved {
  background-color: #A6DCEB;
  color: black;
  height: 50px;
  width: 160px;
  border-radius: 30px;
  margin-left: 230px;
  margin-top: 6%;
  padding: 10px; 
  margin-left: 220px;
  /* display: absolute; */
  z-index: 1;
}

.breakRight {
  color: black; 
  float: right; 
  margin-top: -7%;
  margin-right: 8%;
  /* display: flex;  */
}

.textBox2 {
  color: black;
  background-color: #E6F4F8;
  margin-top: 5%;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  margin-left: 250px;
  /* display: flex;  */
}

.upload {
  max-width: 100px;
  margin-top: 6%;
  margin-left: 4%;
  float: left; 
}
.upload img {
  width: 50%;
}

.txtbar {
  color: #3A3A4D; 
  padding: 10px; 
  margin-top: 7%;
  /* outline-style: solid;  */
  width: 430px;
  margin-left: 13%;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 3px #3A3A4D inset;
}

.send {
  max-width: 100px;
  margin-right: -4%;
  float: right; 
  margin-top: -8%;
}

.send img {
  width: 45%;
}

.gold {
  position: absolute; 
  max-width: 400px;
  max-height: 200px; 
}

.gold img{
  width: 570px; 
  height: 245px; 
  margin-left: -4%;
  margin-top: 7%;
}


.gold img:hover {
  opacity: .5;
}


